h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3f0d58;
}

h3 {
    border-bottom: 1px solid #3f0d58;
}

blockquote {
    background-color: #d9d4e8;
}

blockquote.read {
    border-left: 2px solid #3f0d58;
    border-right: 2px solid #3f0d58;
}

ul.toc li.part {
    border-bottom: 1px solid #3f0d58;
    color: #3f0d58;
}

ul.toc li.part a {
    color: #3f0d58;
}

ul.toc li.category {
    color: #3f0d58;
}

ul.toc li.category a {
    color: #3f0d58;
}

.footnote {
    font-size: 10px;
}

table.enemy tbody tr {
    background: #d6c3e4;
    line-height: unset;
}

table.enemy tbody tr td {
    padding: 1px 15px;
}

table.enemy tbody tr {
    line-height: 1.3;
}

table.enemy {
    background: #d6c3e4;
    border-collapse: collapse;
    border-radius: 10px;
    -moz-border-radius: 10px;
    overflow: hidden;
}

table.enemy tbody tr.footnote {
    font-size: 11px;
}

a {
    color: #3f0d58;
    font-weight: bold;
}

@media print {
    blockquote-read-wrap {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    blockquote.read {
        margin-top: 0px;
        margin-bottom: 10px;
    }  

    .print-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}